<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PptToPdf.Properties.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PptToPdf.Properties.Setting>
            <setting name="Font" serializeAs="String">
                <value>맑은 고딕, 9.75pt</value>
            </setting>
            <setting name="EnableDriveLabels" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English (US)</value>
            </setting>
            <setting name="AlertPosition" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="AlertOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToastPosition" serializeAs="String">
                <value>BOTTOM</value>
            </setting>
            <setting name="ToastOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
        </PptToPdf.Properties.Setting>
    </userSettings>
</configuration>
